html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
    font-weight: 400;
  }
  
  a:active {
    text-decoration: underline;
  }

/*  FONTS */

body
{
    margin: 0;
    background: rgb(0, 0, 0);
    color: white;
}

header
{
    margin: 24px 0;
}

#logo
{
    text-align: center;
    font-size: 70px;
}

.main_content
{
    width: 60%;
    padding: 24px 20%;
    padding-top: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: calc(100dvh - 270px);
}

.nav_list
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 60px;
}

li
{
    margin: 80px 0;
}

ul
{
    list-style-type: none;
}

.image_container
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.home_image
{
    width: 100%;
}

footer
{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}


/* For mobile phones: */

@media only screen and (max-width: 768px) 
{

    header
    {
        height: auto;
        text-align: start;
        margin: 0px 0;
        margin-top: 25px;
    }

    #logo
    {
        text-align: left;
        margin-left: 16px;
    }

    .main_content
    {
        width: 100%;
        padding: 0;
        height: auto;
        flex-direction: column;
    }

    .nav_list
    {
        width: 94%;
        margin-left: 3%;
    }

    .image_container
    {
        margin-left: 3%;
        width: 94%;
    }

    li
    {
        margin: 40px 0;
        font-size: 40px;
    }

    footer
    {
        height: auto;
        padding: 15px 0;
        font-size: 25px;
    }

    #hidden
    {
        display: none;
    }

}